@font-face {
  font-family: "iconfont"; /* Project id 3538067 */
  src: url('iconfont.woff2?t=1658391005182') format('woff2'),
       url('iconfont.woff?t=1658391005182') format('woff'),
       url('iconfont.ttf?t=1658391005182') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moneybag:before {
  content: "\e7d1";
}

.icon-tongji:before {
  content: "\e619";
}

.icon-labels:before {
  content: "\e650";
}

